/* select-none filter grayscale-[100%] hover:grayscale-[0%] duration-200 */

.language-logo-list {
  perspective: 1000px;
  overflow-y: auto;
  overflow-x: hidden;
}

.language-logo-list > div {
  transform-style: preserve-3d;
}

.language-logo-list > div > .language-logo {
  user-select: none;
  transition: .2s;
  filter: grayscale(1);
}

.language-logo-list > div > .language-logo:hover {
  filter: grayscale(0);
  transform: translateZ(120px);
}
.language-logo-list > div > .language-logo:hover + * {
  filter: grayscale(.4);
  transform: translateZ(100px) rotateY(20deg);
}
.language-logo-list > div > .language-logo:hover + * + * {
  filter: grayscale(.6);
  transform: translateZ(50px) rotateY(12deg);
}
.language-logo-list > div > .language-logo:has(+ *:hover) {
  filter: grayscale(.2);
  transform: translateZ(100px) rotateY(-20deg);
}
.language-logo-list > div > .language-logo:has(+ * + *:hover) {
  filter: grayscale(.2);
  transform: translateZ(50px) rotateY(-12deg);
}